streamlit
python-dotenv
langchain
langchain-classic
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-openai
langchain-chroma
chromadb
pypdf
openai
groq



